<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="d-flex">
    <div class="d-flex flex-column mr-1 w-100">
      <span class="p-float-label w-100 mb-1">
        <input pInputText id="name"
                       [required]="true"
                       [(ngModel)]="model.name" name="name"
                       #name="ngModel" class="w-100" />
        <label for="name">Name</label>
      </span>
      <span class="p-float-label w-100 mt-1">
        <p-inputNumber id="amount"
                       [required]="true"
                       [(ngModel)]="model.amount" name="amount"
                       #amount="ngModel" class="w-100" styleClass="w-100">
        </p-inputNumber>
        <label for="amount">Amount</label>
      </span>
    </div>
    <div class="d-flex flex-column ml-1 w-100">
      <span class="p-float-label w-100">
        <p-dropdown id="frequency"
                    [required]="true"
                    [options]="frequencies"
                    [(ngModel)]="model.frequency"
                    optionLabel="value"
                    optionValue="key"
                    class="w-100" styleClass="w-100"
                    name="frequency"
                    [autoDisplayFirst]="false"
                    #frequency="ngModel"></p-dropdown>
        <label for="frequency">Frequency</label>
      </span>
    </div>
  </div>
  <div class="d-flex flex-end mt-2">
    <button pButton type="submit" label="Save" [disabled]="!form.form.valid"></button>
  </div>
</form>
