<div class="d-flex">
  <button pButton class="m-1" label="Home" icon="pi pi-home" routerLink="/"></button>
  <button pButton class="m-1" label="Incomes" icon="pi pi-money-bill" routerLink="/incomes"></button>
  <button pButton class="m-1" label="Expenses" icon="pi pi-chart-pie" routerLink="/expenses"></button>
  <button pButton class="m-1" label="Goals" icon="pi pi-chart-line" routerLink="/goals"></button>
  <button pButton class="m-1" label="Profile" icon="pi pi-user" routerLink="/Profile"></button>
</div>
