<app-goal-navigation></app-goal-navigation>
<div class="d-flex justify-content-between">
  <div class="d-flex w-100 flex-column m-2">
    <p-card header="Investments">
      <div class="mb-1">
        <app-investment-entry-form (added)="investmentAdded()"></app-investment-entry-form>
      </div>
      <div class="mt-1">
        <app-investment-listing [investments]="investments"></app-investment-listing>
      </div>
    </p-card>
  </div>
  <div class="d-flex w-40 flex-column m-2">
    <p-card header="Investment Goal">
      <div class="mb-1">
        <app-investment-goal-entry-form (updated)="investmentGoalUpdated()" [investmentGoal]="investmentGoal"></app-investment-goal-entry-form>
      </div>
    </p-card>
  </div>
</div>
