<div class="d-flex justify-content-between">
  <div class="w-100 flex-column m-2">
    <p-card styleClass="h-100 m-2">
      <app-income-entry-form></app-income-entry-form>
      <app-income-listing></app-income-listing>
    </p-card>
  </div>
  <div class="flex-column w-100 m-2">
    <p-card class="m-2 justify-content-center">
      <app-income-detail-section></app-income-detail-section>
    </p-card>
    <p-card class="m-2 justify-content-center">
      <app-income-monthly-detail-section></app-income-monthly-detail-section>
    </p-card>
  </div>
</div>
