<div>
  <p-confirmPopup></p-confirmPopup>
  <h3>Need</h3>
  <p-table [value]="model | needWantFilter : 1 : 'priority'">
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Amount</th>
        <th>Frequency</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-expense>
      <tr>
        <td>
          <div class="d-flex">
            <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text" (click)="delete($event, expense)"></button>
            <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-secondary p-button-text" (click)="edit($event, expense)"></button>
          </div>
        </td>
        <td>{{expense.name}}</td>
        <td>{{expense.amount}}</td>
        <td>{{displayFrequencies(expense.frequency)}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div>
  <h3>Want</h3>
  <p-table [value]="model | needWantFilter : 0 : 'priority'">
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Amount</th>
        <th>Frequency</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-expense>
      <tr>
        <td>
          <div class="d-flex">
            <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text" (click)="delete($event, expense)"></button>
            <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-secondary p-button-text" (click)="edit($event, expense)"></button>
          </div>
        </td>
        <td>{{expense.name}}</td>
        <td>{{expense.amount}}</td>
        <td>{{displayFrequencies(expense.frequency)}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog header="Edit Expense" [(visible)]="editModal" [modal]="true" [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false">
  <app-expense-entry-form *ngIf="editExpense" [expense]="editExpense" (updated)="editComplete()"></app-expense-entry-form>
</p-dialog>
