<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="d-flex flex-column">
    <div class="d-flex w-100 mb-1">
      <span class="p-float-label w-100 ml-1">
        <p-inputNumber id="totalBalance"
                       [required]="true"
                       [(ngModel)]="model.totalBalance" name="totalBalance"
                       #amount="ngModel" class="w-100" styleClass="w-100"
                       prefix="$">
        </p-inputNumber>
        <label for="totalBalance">Remaining Balance</label>
      </span>
      <span class="p-float-label w-100 ml-1">
        <p-inputNumber id="interestRate_Percent"
                       [required]="true"
                       [(ngModel)]="model.interestRate_Percent" name="interestRate_Percent"
                       #amount="ngModel" class="w-100" styleClass="w-100"
                       suffix="%">
        </p-inputNumber>
        <label for="interestRate_Percent">Annual Interest Rate</label>
      </span>
    </div>
    <div class="d-flex w-100 mt-1">
      <span class="p-float-label w-100 ml-1">
        <p-inputNumber id="monthlyPayment"
                       [required]="true"
                       [(ngModel)]="model.monthlyPayment" name="monthlyPayment"
                       #amount="ngModel" class="w-100" styleClass="w-100"
                       prefix="$">
        </p-inputNumber>
        <label for="monthlyPayment">Monthly Payment</label>
      </span>
      <span class="p-float-label w-100 ml-1">
        <p-inputNumber id="estimatedCurrentValue"
                       [required]="true"
                       [(ngModel)]="model.estimatedCurrentValue" name="estimatedCurrentValue"
                       #amount="ngModel" class="w-100" styleClass="w-100"
                       prefix="$">
        </p-inputNumber>
        <label for="estimatedCurrentValue">Estimate Property Value</label>
      </span>
    </div>
  </div>
  <div class="d-flex flex-end mt-2">
    <button pButton type="submit" label="Save" [disabled]="!form.form.valid"></button>
  </div>
</form>
