<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="d-flex flex-column">
    <div class="d-flex w-100 mb-1">
      <span class="p-float-label w-100 mr-1">
        <input pInputText id="name"
               [required]="true"
               [(ngModel)]="model.name" name="name"
               #name="ngModel" class="w-100" />
        <label for="name">Name</label>
      </span>
      <span class="p-float-label w-100 ml-1">
        <p-inputNumber id="currentBalance"
                       [required]="true"
                       [(ngModel)]="model.currentBalance" name="currentBalance"
                       #currentBalance="ngModel" class="w-100" styleClass="w-100"
                       [minFractionDigits]="2" [maxFractionDigits]="2"
                       prefix="$">
        </p-inputNumber>
        <label for="currentBalance">Current Balance</label>
      </span>
    </div>
    <div class="d-flex w-100 mt-1">
      <span class="p-float-label w-100 mr-1">
        <p-inputNumber id="interestRate"
                       [required]="true"
                       [(ngModel)]="model.interestRate" name="interestRate"
                       #interestRate="ngModel" class="w-100" styleClass="w-100"
                       [minFractionDigits]="2" [maxFractionDigits]="2"
                       suffix="%">
        </p-inputNumber>
        <label for="interestRate">Interest Rate</label>
      </span>
      <span class="p-float-label w-100 ml-1">
        <p-inputNumber id="minimumPayment"
                       [required]="true"
                       [(ngModel)]="model.minimumPayment" name="minimumPayment"
                       #minimumPayment="ngModel" class="w-100" styleClass="w-100"
                       [minFractionDigits]="2" [maxFractionDigits]="2"
                       prefix="$">
        </p-inputNumber>
        <label for="minimumPayment">Minimum Payment</label>
      </span>
    </div>
  </div>
  <div class="d-flex flex-end mt-2">
    <button pButton type="submit" label="Save" [disabled]="!form.form.valid"></button>
  </div>
</form>
