<ng-container *ngIf="budget && budget.id">
  <div class="d-flex flex-column mt-2">
    <div class="d-flex justify-content-between">
        <p-card class="w-100 mx-2" header="Total Income">
          <p class="breakdown">
            ${{myMonthlyIncome | number : '.2-2'}}
          </p>
        </p-card>
        <p-card class="w-100 mx-2" header="Total Expenses">
          <p class="breakdown">
            ${{myMonthlyExpenses | number : '.2-2'}}
          </p>
        </p-card>
        <p-card class="w-100 mx-2" header="Net Monthly">
          <p class="breakdown">
            ${{(myMonthlyIncome - myMonthlyExpenses)  | number : '.2-2'}}
          </p>
        </p-card>
        <p-card class="w-100 mx-2" header="Current Net Worth"></p-card>
    </div>
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-between mt-2">
        <p-card class="w-100 mx-2" header="Net Worth Chart"></p-card>
        <p-card class="w-100 mx-2" header="Short Term Savings Chart">
          <app-saving-chart></app-saving-chart>
        </p-card>
        <p-card class="w-100 mx-2" header="Investments">
          <app-investments-chart></app-investments-chart>
        </p-card>
      </div>
      <div class="d-flex justify-content-between mt-2">
        <p-card class="w-100 mx-2" header="Mortgage Payoff Chart">
          <app-mortgage-chart></app-mortgage-chart>
        </p-card>
        <p-card class="w-100 mx-2" header="Debt Payoff Chart"></p-card>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!budget || !budget.id">
  <div class="panel">
    <div class="block">
      <p-card header="Load a Budget">
        Use the navigation to create a new budget or load an existing. If creating a new budget, please subsequently load it.
      </p-card>
    </div>
  </div>
</ng-container>
