<div class="d-flex justify-content-between">
  <div class="w-100 d-flex flex-column">
    <p-card class="m-2">Total Income</p-card>
    <p-card class="m-2">Total Expenses</p-card>
  </div>
  <div class="w-100 d-flex flex-column">
    <p-card styleClass="h-100 m-2">Net Monthly</p-card>
  </div>
  <div class="w-100 d-flex flex-column">
    <p-card styleClass="h-100 m-2">Current Net Worth</p-card>
  </div>
</div>
<div class="panel">
  <p-card>Net Worth Chart</p-card>
</div>
<div class="d-flex justify-content-between">
  <p-card class="m-2 w-100">Short Term Savings Chart</p-card>
  <p-card class="m-2 w-100">Debt Payoff Chart</p-card>
</div>
<div class="d-flex justify-content-between">
  <p-card class="m-2 w-100">Mortgage Payoff Chart</p-card>
  <p-card class="m-2 w-100">Investments Chart</p-card>
</div>
