<div class="d-flex justify-content-between">
  <div class="w-100 d-flex flex-column m-2">
    <p-card styleClass="h-100" class="mb-2" header="Total Income"></p-card>
    <p-card styleClass="h-100" class="mt-2" header="Total Expenses"></p-card>
  </div>
  <div class="w-100 d-flex m-2">
      <p-card styleClass="mr-2 h-100" header="Net Monthly"></p-card>
      <p-card styleClass="ml-2 h-100" header="Current Net Worth"></p-card>
  </div>
</div>
<div class="d-flex">
  <p-card class="w-100" styleClass="m-2" header="Net Worth Chart"></p-card>
</div>
<div class="d-flex justify-content-between">
    <p-card styleClass="m-2" class="w-100" header="Short Term Savings Chart"></p-card>
    <p-card styleClass="m-2" class="w-100" header="Debt Payoff Chart"></p-card>
</div>
<div class="d-flex justify-content-between">
    <p-card styleClass="m-2" class="w-100" header="Mortgage Payoff Chart"></p-card>
    <p-card styleClass="m-2" class="w-100" header="Investments Chart"></p-card>
</div>
