<app-goal-navigation></app-goal-navigation>
<div class="d-flex justify-content-between flex-wrap">

  <p-card styleClass="m-2" class="w-md-50" header="Short Term Savings">
    <app-saving-chart></app-saving-chart>
    <div class="mt-4">
      <h3>Budget Allocation</h3>
      <input type="text" pInputText [(ngModel)]="model.savingGoal" class="w-full" (change)="sliderEvent()" />
      <p-slider *ngIf="(savingContribution! + availableMonthlyNet) > 0" [(ngModel)]="model.savingGoal" class="w-full" (onSlideEnd)="sliderEvent()" [max]="(savingContribution! + availableMonthlyNet)"></p-slider>
      <p-slider *ngIf="(savingContribution! + availableMonthlyNet) <= 0" class="w-full" [disabled]="true"></p-slider>
    </div>
  </p-card>
  <p-card styleClass="m-2" class="w-md-50" header="Investments">
    <app-investments-chart></app-investments-chart>
    <div class="mt-4">
      <h3>Budget Allocation</h3>
      <input type="text" pInputText [(ngModel)]="model.investmentGoal" class="w-full" (change)="sliderEvent()"/>
      <p-slider *ngIf="(investmentContribution! + availableMonthlyNet) > 0" [(ngModel)]="model.investmentGoal" class="w-full" (onSlideEnd)="sliderEvent()" [disabled]="isInvestmentDisabled" [max]="(investmentContribution! + availableMonthlyNet)"></p-slider>
      <p-slider *ngIf="(investmentContribution! + availableMonthlyNet) <= 0" class="w-full" [disabled]="true"></p-slider>
    </div>
  </p-card>

  <p-card styleClass="m-2" class="w-md-50" header="Debt Payoff">
    <app-debt-chart></app-debt-chart>
    <div class="mt-4">
      <h3>Budget Allocation</h3>
      <input type="text" pInputText [(ngModel)]="model.debtGoal" class="w-full" (change)="sliderEvent()"/>
      <p-slider *ngIf="(debtContribution! + availableMonthlyNet) > 0" [(ngModel)]="model.debtGoal" class="w-full" (onSlideEnd)="sliderEvent()" [disabled]="isDebtDisabled" [max]="(debtContribution! + availableMonthlyNet)"></p-slider>
      <p-slider *ngIf="(debtContribution! + availableMonthlyNet) <= 0" class="w-full" [disabled]="true"></p-slider>
    </div>
  </p-card>

  <p-card styleClass="m-2" class="w-md-50" header="Mortgage Payoff">
    <app-mortgage-chart></app-mortgage-chart>
    <div class="mt-4">
      <h3>Budget Allocation</h3>
      <input type="text" pInputText [(ngModel)]="model.mortgageGoal" class="w-full" (change)="sliderEvent()"/>
      <p-slider *ngIf="(mortgageContribution! + availableMonthlyNet) > 0" [(ngModel)]="model.mortgageGoal" class="w-full" (onSlideEnd)="sliderEvent()" [disabled]="isMortgageDisabled" [max]="(mortgageContribution! + availableMonthlyNet)"></p-slider>
      <p-slider *ngIf="(mortgageContribution! + availableMonthlyNet) <= 0" class="w-full" [disabled]="true" ></p-slider>
    </div>
  </p-card>

</div>
<div class="d-flex w-100 mt-2">
  <p-card class="w-100 mx-2" header="Available Monthly Funds">
    <p class="breakdown">
      ${{availableMonthlyNet | number : '.2-2'}} / ${{availableFreeCash  | number : '.2-2'}}
    </p>
    <p class="breakdown">
      Remaining/Available
    </p>
  </p-card>
</div>
