<app-goal-navigation></app-goal-navigation>
<div class="d-flex justify-content-between">
  <div class="flex-column w-100 m-2">
    <p-card styleClass="m-2" class="mb-2" header="Short Term Savings"></p-card>
    <p-card styleClass="m-2" class="mb-2" header="Debt Payoff"></p-card>
    <p-card styleClass="m-2" class="mb-2" header="Mortgage Payoff"></p-card>
    <p-card header="Investments">
      <div class="mb-1">
        <app-investment-entry-form (added)="investmentAdded()"></app-investment-entry-form>
      </div>
    </p-card>
  </div>
  <div class="flex-column w-100 m-2">
    <p-card styleClass="m-2" class="mb-2" header="Short Term Savings Allocation"></p-card>
    <p-card styleClass="m-2" class="mb-2" header="Debt Payoff Allocation"></p-card>
    <p-card styleClass="m-2" class="mb-2" header="Mortgage Payoff Allocation"></p-card>
    <p-card styleClass="m-2" class="mb-2" header="Investments Allocation"></p-card>
    <p-card styleClass="m-2" class="mb-2" header="Do You Have Enough"></p-card>
  </div>
  <div class="flex-column w-100 m-2">
    <p-card styleClass="m-2" class="mb-2" header="Short Term Savings Result"></p-card>
    <p-card styleClass="m-2" class="mb-2" header="Debt Payoff Result"></p-card>
    <p-card styleClass="m-2" class="mb-2" header="Mortgage Payoff Result"></p-card>
    <p-card styleClass="m-2" class="mb-2" header="Investments Result"></p-card>
  </div>
</div>
