<app-goal-navigation></app-goal-navigation>
<div class="d-flex justify-content-between">
  <div class="flex-column w-100 m-2">
    <p-card styleClass="m-2" class="mb-2" header="Short Term Savings Allocation"></p-card>
    <p-card styleClass="m-2" class="mb-2" header="Debt Payoff Allocation"></p-card>
    <p-card styleClass="m-2" class="mb-2" header="Mortgage Payoff Allocation"></p-card>
    <p-card styleClass="m-2" class="mb-2" header="Investments Allocation"></p-card>
    <p-card styleClass="m-2" class="mb-2" header="Do You Have Enough"></p-card>
  </div>
  <div class="flex-column w-100 m-2">
    <p-card styleClass="m-2" class="mb-2" header="Short Term Savings Result">
      <app-saving-chart></app-saving-chart>
    </p-card>
    <p-card styleClass="m-2" class="mb-2" header="Debt Payoff Result"></p-card>
    <p-card styleClass="m-2" class="mb-2" header="Mortgage Payoff Result">
      <app-mortgage-chart></app-mortgage-chart>
    </p-card>
    <p-card styleClass="m-2" class="mb-2" header="Investments Result"></p-card>
  </div>
</div>
