<app-goal-navigation></app-goal-navigation>
<div class="d-flex justify-content-between">
  <div class="d-flex w-100 flex-column m-2">
    <p-card header="Mortgage">
      <div class="mb-1">
        <app-mortgage-entry-form></app-mortgage-entry-form>
      </div>
    </p-card>
  </div>
  <div class="d-flex w-40 flex-column m-2">
    <p-card header="Total Cost of Mortgage" class="mb-1">
      <p class="breakdown">${{totalMortgageCost | number: '.2-2'}}</p>
    </p-card>
    <p-card header="Total Cost of Interest" class="mb-1">
      <p class="breakdown">${{totalMortgageInterestCost | number: '.2-2'}}</p>
    </p-card>
  </div>
  <div class="d-flex w-40 flex-column m-2">
    <p-card header="Time to Payoff" class="mb-1">
      <p class="breakdown" *ngIf="totalMortgageYears">{{totalMortgageYears}} years</p>
      <p class="breakdown" *ngIf="totalMortgageMonths">{{totalMortgageMonths}} months</p>
    </p-card>
  </div>
</div>
