<app-goal-navigation></app-goal-navigation>
<div class="d-flex justify-content-between">
  <div class="d-flex w-100 flex-column m-2">
    <p-card header="Mortgage">
      <div class="mb-1">
        <app-mortgage-entry-form></app-mortgage-entry-form>
      </div>
    </p-card>
  </div>
  <div class="d-flex w-40 flex-column m-2">
    <p-card header="Total Cost of Mortgage" class="mb-1">
    </p-card>
    <p-card header="Total Cost of Interest" class="mb-1">
    </p-card>
  </div>
  <div class="d-flex w-40 flex-column m-2">
    <p-card header="Total Cost of Principal" class="mb-1">
    </p-card>
  </div>
</div>
